body,
div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;

  &:hover {
    color: red;
  }
}

img,
svg {
  border: 0;
  vertical-align: middle;
}

input {
  outline: none;
}

.container {
  width: 1190px;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    float: left;
    width: (100%/12)*$i;
  }
}

.col-b20 {
  float: left;
  width: 20%;
}

.gutter {
  [class^=col-] {
    padding-left: 5px;
    padding-right: 5px;
  }

  &.row {
    margin-left: -5px;
    margin-right: -5px;
  }
}

// 公共的的外边距
.mt20 {
  margin-top: 20px;
}
